<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="stylesheets/style.css">
<head>
<title>Haiii I'm Sarah</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="nav">
    <a href="/">Home</a>  
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>

<div class="content">
  <h2>About</h2>
  <p>I'm Sarah, I do things sometimes, This is my site.
    <br>
    Some info about me: <br>
    I'm a 2nd year network and IT security student <br>
    My pronouns are she/her <br>
    I'm transgender <br>
    In my spare time I like experimenting with old enterprise server hardware <br>
    <h2> Here's a short video of an example of python programming to display Hello World.</h2>
  <video width="640" height="480" controls>
    <source src="images/video.mp4" type="video/mp4">
    Your Browser is incompatible.
  </video>
  </p>
</div>
<%- include('partials/footer') %>
</body>
</html>




