<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="stylesheets/style.css">
<head>
<title>Welcome</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="nav">
    <a href="/">Home</a>  
    <a href="/about">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
  </nav>

<div class="content">
  <h2>Hi, Welcome to my website</h2>
  <p><img src="images/profile.jpg" alt="Profile Picture" style="width:256px"></p>
  
</div>

</body>
</html>


